---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import DetailCard from "../../../components/DetailCard.astro";
import DependencyTree from "../../../components/DependencyTree.astro";
import type { DependencyType } from "../../../types";
import Breadcrumbs from "../../../components/breadcrumbs/Breadcrumbs.astro";

interface Props {
    entry: CollectionEntry<"dependencies">;
    type: DependencyType;
}

export async function getStaticPaths() {
    const allDependencies = await getCollection("dependencies");

    return allDependencies.map(entry => ({
        params: { name: entry.data.name },
        props: { entry, type: entry.data.type }
    }));
}

const { entry } = Astro.props;
const { Content /*, remarkPluginFrontmatter*/ } = await entry.render();
---

<Layout title={`npmsmell.com | ${entry.data.name}`} description={entry.data.description}>
    <DetailCard title={entry.data.name} tag={entry.data.type} data={entry.data} />
    <Breadcrumbs
        breadcrumbs={[
            { title: "Overview", href: "." },
            { title: entry.data.name, href: `` }
        ]}
    />
    <DependencyTree pkg={entry.data.name} />
    <div class="py-8 sm:py-12">
        <article class="prose max-w-none">
            <Content />
            <div class="flex justify-end">
                <a
                    href={`https://github.com/tmkn/npmsmell/edit/master/src/content/dependencies/${entry.data.name}.md`}
                    class="prose-sm inline-flex items-center gap-1 text-right text-gray-500 hover:text-gray-900"
                    target="_blank"
                    ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="h-4 w-4"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        ></path>
                    </svg>
                    <span>Edit this page</span></a
                >
            </div>
        </article>
    </div>
</Layout>
