---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

import Layout from "../../../layouts/Layout.astro";
import DetailCard from "../../../components/DetailCard.astro";
import DependencyTree from "../../../components/DependencyTree.astro";
import type { DependencyType } from "../../../content/config";
import { getDescription } from "../../../data";

interface Props {
    entry: CollectionEntry<"dependencies">;
    type: DependencyType;
}

export async function getStaticPaths() {
    const allDependencies = await getCollection("dependencies");

    return allDependencies.map(entry => ({
        params: { name: entry.data.name },
        props: { entry, type: entry.data.type }
    }));
}

const { entry } = Astro.props;
const { Content /*remarkPluginFrontmatter*/ } = await entry.render();
const description = getDescription(entry.data);
---

<Layout title={`npmsmell.com | ${entry.data.name}`} description={description}>
    <DetailCard title={entry.data.name} tag={entry.data.type} data={entry.data} />
    <DependencyTree pkg={entry.data.name} />
    <div class="bg-white mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
        <article class="prose max-w-none">
            <Content />
        </article>
    </div>
</Layout>
