---
import { getMockTeaserData, getTeaserData } from "../data";
import Badge from "./Badge.astro";

interface Props {
    name: string;
    pathPrefix: string;
    hidden?: boolean;
}

const { name, pathPrefix, hidden = false } = Astro.props;

import dotsSvg from "./dots.svg?raw";

const dots = `url('data:image/svg+xml;base64, ${btoa(dotsSvg)}');`;

// in dev mode we return mock data to keep things snappy
const data = await (import.meta.env.DEV ? getMockTeaserData(name) : getTeaserData(name));
---

<a
    href={`${pathPrefix}${data.name}`}
    class:list={[
        { hidden },
        "dots bg-white relative block overflow-hidden rounded border border-indigo-200 p-4 sm:p-6 lg:p-8 hover:border-indigo-600"
    ]}
    data-name={name}
>
    <div class="sm:flex sm:justify-between sm:gap-4">
        <div>
            <h3 class="flex gap-x-2 text-lg font-bold text-gray-900 sm:text-xl">
                <span>{data.name}</span>
                <Badge type={data.type} />
            </h3>
        </div>
    </div>

    <div class="mt-4">
        <p class="text-sm text-gray-500">
            {data.description}
        </p>
    </div>

    <dl class="mt-6 flex gap-4 sm:gap-6">
        <div class="flex flex-col-reverse">
            <dt class="text-sm font-medium text-gray-600">{data.downloads.toLocaleString()}</dt>
            <dd class="text-xs text-gray-500">Weekly Downloads</dd>
        </div>

        <div class="flex flex-col-reverse">
            <dt class="text-sm font-medium text-gray-600">{data.dependencies}</dt>
            <dd class="text-xs text-gray-500">Dependencies</dd>
        </div>
    </dl>
</a>

<style define:vars={{ dots }}>
    .dots {
        background-image: var(--dots);
        background-repeat: repeat;
    }
</style>
